{% load static %}
<section id="contact" aria-labelledby="contact-heading">
	<div class="container">
		<header class="row">
			<div class="col-12">
				<h2 id="contact-me" class="text-center fs-1">
					Let's work together!
				</h2>
			</div>
		</header>
		
		<main class="row">
			<div class="col-12">
				<!-- <p id="contact-info">Please feel free to contact me via <a
						href="mailto:aryamalvrz@gmail.com?Subject=Hi!" target="_top" rel="noopener noreferrer">email</a>, or find me on the
					following social networks
				</p> -->

				<nav class="social" aria-label="Contact and social media links">
					<!-- <li class="facebook">
						<a href="https://www.facebook.com/jorge.luis111" target="_blank" rel="noopener noreferrer">
							<span class="fa-brands fa-facebook social-network" aria-hidden="true"></span>
							<p>
								<span>
									<span class="d-none d-lg-block facebook-size">facebook.com/</span>jorge.luis111
								</span>
							</p>
						</a>
					</li> -->
					<div class="bg-danger my-4 my-md-2" role="listitem">
						<a href="{% static 'pdf/Aryam-Alvarez-Resume-2025.pdf' %}" target="_blank" rel="noopener noreferrer" title="Download My Resume" aria-label="Download Aryam Alvarez Resume PDF">
							<span class="fa-solid fa-file-pdf social-network" aria-hidden="true"></span>
							<p>
								<span>
									Download My Resume
								</span>
							</p>
						</a>
					</div>

					<div class="github my-4 my-md-2 " role="listitem">
						<a href="https://github.com/arycodes0" target="_blank" rel="noopener noreferrer" title="GitHub Profile" aria-label="Visit Aryam Alvarez GitHub profile">
							<span class="fa-brands fa-github social-network" aria-hidden="true"></span>
							<p>
								<span>
									@arycodes0
								</span>
							</p>
						</a>
					</div>
					
					<div class="linkedin my-4 my-md-2" role="listitem">
						<a href="https://pr.linkedin.com/in/alvarezaryam" target="_blank" rel="noopener noreferrer" title="LinkedIn Profile" aria-label="Visit Aryam Alvarez LinkedIn profile">
							<span class="fa-brands fa-linkedin social-network" aria-hidden="true"></span>
							<p>
								<span>
									Aryam Alvarez
								</span>
							</p>
						</a>
					</div>

					<div class="email my-4 my-md-2" role="listitem">
						<a href="mailto:aryamalvrz@gmail.com?subject=Let's%20work%20together&body=Hi%20Aryam,%20I%20would%20love%20to%20discuss%20a%20potential%20project%20with%20you.%20Please%20let%20me%20know%20when%20you're%20available%20to%20chat!" title="Contact me for development projects" aria-label="Send email to Aryam Alvarez for project collaboration">
							<span class="fa-solid fa-envelope social-network black mt-2" aria-hidden="true"></span>
							<p>
								<span class="black">
									aryamalvrz@gmail.com
								</span>
							</p>
						</a>
					</div>
				</nav>
			</div>
		</main>
	</div>
</section>