{% load static %}
<section id="hello">
	<div class="container">
		<div class="row">
			<header class="mb-4 mt-2">
				<img class="profile-pic-size avatar-img shadow rounded-circle mx-auto d-block" src="{% static 'img/aryam-alvarez.webp' %}"
					alt="Aryam Alvarez Full Stack Software Engineer"
				>
			</header>

			<main class="col-md-12 text-center">
				<div id="welcome">

					<!-- Greeting -->
					<!-- <p class="text-muted mb-1 fs-initial">Hey! I am</p> -->

					<!-- Name -->
					<h1 class="fw-bold mb-3">Aryam Alvarez</h1>

					<!-- Tagline -->
					<!-- <p class="mb-3 fs-4">
						I bring tech ideas to life
					</p> -->

					<!-- Skills -->
					<!-- <div class="mb-4">
					<span class="badge bg-danger me-2">&lt;Web&gt;</span>
					<span class="badge bg-success me-2">{AI}</span>
					<span class="badge bg-primary">{Tech Events}</span>
				  </div> -->
					<p class="fs-5">
						<span style="color:#b50101;">&lt;Web&gt;</span>
						<span style="color:#006800;">{AI}</span>
						<span style="color:blue;">&lt;Tech Events/&gt;</span>
					</p>

					<!-- Social Links -->
					<!-- <div class="mb-3">
						<a name="github" class="zoom-hover text-dark me-3 fs-2 no-underline"
							href="https://github.com/arycodes0" target="_blank" title="GitHub" name="GitHub">
							<i class="fa-brands fa-github fa-lg"></i>
						</a>
						<a name="linkedin" class="zoom-hover text-dark fs-2 no-underline"
							href="https://www.linkedin.com/in/alvarezaryam" target="_blank" title="LinkedIn"
							name="LinkedIn">
							<i class="fa-brands fa-linkedin fa-lg"></i>
						</a>
					</div> -->

					<!-- Resume button -->
					<nav class="mb-4">
						<a href="{% static 'pdf/Aryam-Alvarez-Resume-2025.pdf' %}" target="_blank" title="Resume"
							aria-label="Download Resume"
							class=" social-btn mx-sm-0 mx-md-2 zoom-hover btn btn-danger btn-lg no-underline">
							<span>
								<i class="fa-solid fa-file-pdf me-2"></i>
							</span>
							Resume
						</a>
						<a href="https://github.com/aryamalvarez" target="_blank"
							class="zoom-hover mx-sm-0 mx-md-2 social-btn github-btn no-underline"
							aria-label="Visit GitHub Profile">
							<i class="fab fa-github"></i>
							<span>GitHub</span>
						</a>
						<a href="https://linkedin.com/in/aryamalvarez" target="_blank"
							class="zoom-hover mx-sm-0 mx-md-2 social-btn linkedin-btn no-underline"
							aria-label="Visit LinkedIn Profile">
							<i class="fab fa-linkedin-in"></i>
							<span>Linkedin</span>
						</a>
						<a href="mailto:aryamalvrz@gmail.com?subject=Let's%20work%20together&body=Hi%20Aryam,%20I%20would%20love%20to%20discuss%20a%20potential%20project%20with%20you.%20Please%20let%20me%20know%20when%20you're%20available%20to%20chat!" title="Contact me for development projects" aria-label="Send email to Aryam Alvarez for project collaboration"
							class="zoom-hover mx-sm-0 mx-md-2 mt-2 mt-sm-0 social-btn btn btn-email no-underline">
							<i class="fas fa-envelope"></i>

							<span>aryamalvrz@gmail.com</span>
						</a>
					</nav>

					<!-- Closing line -->
					<h2 class="fw-normal fs-4">Let's work together!</h2>

				</div>
			</main>

		</div>
		<nav>
			<a data-scroll href="#about" title="About" aria-label="Navigate to About section">
				<div class="tag">
					<div class="tag-blue">
						<span>
							<i class="fa-solid fa-angle-double-down"></i>
						</span>
					</div>
					<div style="clear:both;" class="clear"></div>
				</div>
			</a>
		</nav>
	</div>
</section>