<nav class="navbar navbar-animation navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="navbar-nav"><a class="nav-link" data-scroll href="#hello" name="hello" title="Hello">Hello</a></li>
        <li class="navbar-nav"><a class="nav-link" data-scroll href="#about" name="about" title="About">About</a></li>
        <li class="navbar-nav d-none d-md-inline-block"><a class="nav-link" data-scroll href="#tech-stack" name="tech-stack" title="Tech Stack">Stack</a></li>
        <li class="navbar-nav"><a class="nav-link" data-scroll href="#projects" name="projects" title="Projects">Projects</a></li>
        <li class="navbar-nav"><a class="nav-link" data-scroll href="#contact-me" name="contact" title="Contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>